<div class="main">
  <div class="sub1">
    <div *ngIf="pokemon" class="pokemonImg">
      <img
        lazyLoad="assets/images/{{ pokemon.id | number: '3.0' }}.png"
        alt=""
        width="100%"
      />
    </div>
    <div *ngIf="pokemon" class="pokemonData">
      <p>名前:{{ pokemon.name.japanese }}</p>
      <p>体力:{{ pokemon.base.HP }}</p>
      <p>攻撃力{{ pokemon.base.Attack }}</p>
      <p>防御力{{ pokemon.base.Defense }}</p>
      <p>スピード{{ pokemon.base.Speed }}</p>
    </div>
  </div>
  <div class="sub2">
    <div *ngIf="pokemon">
      <canvas
        class="pokemonRadar"
        baseChart
        [datasets]="radarChartData"
        [options]="radarChartOptions"
        [labels]="radarChartLabels"
        [chartType]="radarChartType"
      >
      </canvas>
    </div>
  </div>
</div>
